/* Custom Facets Left Column Extension
 * Moves facets to a fixed left column on desktop, similar to boost-pfs-filter-left-col
 * Extends Dawn's facets without modifying base theme
 */

@media screen and (min-width: 750px) {
  /* Main container: facets on left, products on right */
  .facets-vertical {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
  }

  /* Facets wrapper: fixed left column */
  .facets-vertical .facets-wrapper {
    flex: 0 0 auto;
    width: 26rem;
    max-width: 26rem;
    min-width: 26rem;
    padding-right: 3rem;
    padding-left: 0;
    position: sticky;
    top: 2rem;
    align-self: flex-start;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
  }

  /* Product grid container: takes remaining space */
  .facets-vertical .product-grid-container {
    flex: 1 1 auto;
    min-width: 0; /* Allows flex item to shrink below content size */
    width: auto;
  }

  /* Ensure facets form doesn't exceed column width */
  .facets-vertical .facets__form-vertical {
    width: 100%;
    max-width: 100%;
  }
}

/* Larger screens: adjust spacing */
@media screen and (min-width: 990px) {
  .facets-vertical .facets-wrapper {
    width: 28rem;
    max-width: 28rem;
    min-width: 28rem;
    padding-right: 4rem;
  }
}

/* Very large screens: wider facets column */
@media screen and (min-width: 1200px) {
  .facets-vertical .facets-wrapper {
    width: 30rem;
    max-width: 30rem;
    min-width: 30rem;
  }
}
